@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
  margin: 0;
  padding: 0;
}

body{
  /*background: url('/images/Services.png') fixed center center;*/
  font-family: "Montserrat";
  color: #2c4f73;
}

header{
  margin-bottom: 20px;
}

footer{
  margin-bottom: 0px;
}

nav{
  font-size: 25px;

  background: linear-gradient(left,rgba(26, 188, 156,0.4),
  rgba(26, 188, 156,0.6),rgba(26, 188, 156,0.4));
  
  background: -webkit-linear-gradient(left,rgba(26, 188, 156,0.4),
  rgba(26, 188, 156,0.6),rgba(26, 188, 156,0.4));

  background: -moz-linear-gradient(left,rgba(26, 188, 156,0.2),
  rgba(26, 188, 156,0.8),rgba(26, 188, 156,0.2));

}

ul{
  list-style: none;
  text-align: center;

}

li{
  display: inline-block;
}

li a{
  text-decoration: none;
  color: #2c4f73;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px
}

li a:hover{
  background-color:rgba(26, 188, 156,0.6);
}

li a:active{
  background-color:rgba(26, 188, 156,0.30);
}

section{
  margin: 0 50px;
}

p{
  text-align: justify;
  margin-bottom: 10px;
}

.side {
   display:inline-block;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer {
  position:relative;
  bottom:0;
  left:0;
  height:100px;
  width: 100%;
  background: #99e1d3;
}
.footer-left{
  width:400px;
  float:left;
  height:100%;
}
.footer-center{
  padding-top: 30px;
  margin-left: 450px;
}
.footer-right{
  margin-left:1100px; 
  margin-top: -50px;
}

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-size: 20px;
  font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

.contact-form-red{
  color:red;
}
.form-area
{
  background-color: #FFFFFF;
  padding: 10px 40px 60px;
  margin: 5px 0px 60px;
  border: 1px solid #2c4f73;
}
.contact-left{
  width:900px;
  float:left;
  height:100%;
}

.contact-right{
  margin-left:200px;
}

.credit-card-div  span {
  padding-top:10px;
}
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}
